name: reviewdog
on: [pull_request]
jobs:
  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: shellcheck-github-pr-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
      - name: shellcheck-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: warning
          filter_mode: file
          pattern: '*.sh'
          path: '.'
          exclude: './testdata/*'
          shellcheck_flags: '--external-sources --severity=style'
      - name: shellcheck-github-pr-review
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          pattern: '*.sh'
          path: '.'
          exclude: './testdata/*'
